body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: sans-serif;
    font-size: 14px;
}

input, textarea, button {
    font-size: inherit;
}

/* Main panel */
#mainpanel {
    position: absolute;
    width: 100%;
    height: 100%;
}

#codebox {
    box-sizing: border-box;
    width: 100%;
    height: 40%;
    font-size: 2em;
    padding: 0.1em;
    padding-right: 1.5em;
    padding-left: 0.7em;
    text-indent: -0.6em;
}

#keypad {
    width: 100%;
    height: 60%;
}

#keypad > * {
    box-sizing: border-box;
    width: 25%;
    height: 25%;
    float: left;
    padding: .15em;
}

#keypad button {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

/* Menu */
#panelbuttons {
    box-sizing: border-box;
    position: absolute;
    width: 3em;
    height: 40%;
    top: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto;
    transition: right .5s;
}

#panelmeta.shown #panelbuttons {
    right: 80%;
}
    
#panelbuttons > a {
    display: block;
    color: initial;
    font-size: 1.5em;
    text-decoration: initial;
    width: 100%;
    height: 2em;
    margin: 0.333333333333em 0;
    background: yellow;
    text-align: center;
    line-height: 2em;
}

a#debugpanel_button { /* needs more specificity than the general rule */
    background: darkgray;
}

/* Panel system */
.panel {
    position: absolute;
    box-sizing: border-box;
    width: 80%;
    right: -80%;
    top: 0;
    bottom: 0;
    padding: 0.5em;
    visibility: hidden;
    transition: right .5s, visibility .5s;
    background: white; /* will be overridden, hopefully */
    overflow-y: auto;
}

.panel.shown {
    right: 0;
    visibility: visible;
}

#panelshade {
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s;
}

#panelmeta.shown #panelshade {
    opacity: 0.5;
    pointer-events: all;
}

/* Debug panel */
#debugpanel {
    background: darkgray;
    display: flex;
    flex-direction: column;
}

#debugpanel > div {
    margin: 0.5em 0;
}

#encodedview {
    box-sizing: border-box;
    width: 100%;
}

#logbox {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

#logbox-parent {
    flex: 1;
}

/* Modal system */
.modal {
    position: absolute;
    box-sizing: border-box;
    width: 80%;
    height: 80%;
    left: 10%;
    bottom: -80%;
    padding: 0.5em;
    visibility: hidden;
    transition: bottom .5s, visibility .5s;;
    background: white;
    overflow-y: auto;
}

.modal.shown {
    bottom: 10%;
    visibility: visible;
}

#modalshade {
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s;
}

#modalmeta.shown #modalshade {
    opacity: 0.5;
    pointer-events: all;
}

/* Number input modal */
#numberinput_modal {
    text-align: center;
    padding-top: 5%;
}

#numberinput_normal_flexbox {
    display: flex;
}

#numberinput_normal_flexbox .stretchy {
    width: 30%;
    flex: 1;
    display: inline-block;
}

#numberinput_normal_flexbox .stretchy input {
    width: 100%;
    box-sizing: border-box;
}

#numberinput_error {
    display: none;
    color: red;
}

#numberinput_modal.error #numberinput_error {
    display: block;
}

/* Template elements */

.hole, #templates .child0, #templates .child1 {
    box-sizing: border-box;
    width: 1em;
    height: 1em;
    background: salmon;
    border: 1px dashed maroon;
    display: inline-block;
}

.focus.hole {
    background: goldenrod;
    border-width: 2px;
}

.cut_control, .copy_control {
    display: none;
    color: initial;
    text-decoration: initial;
    font-size: 0.5em;
    width: 2em;
    height: 2em;
    text-align: center;
    line-height: 2em;
    text-indent: 0;
}

.cut_control {
    background-color: #ff6666;
}

.copy_control {
    background-color: seagreen;
}

#templates .cut_control, #templates .copy_control,
#codebox.cut_mode .cut_control, #codebox.copy_mode .copy_control {
    display: inline-block;
}

/* Throbber */
#throbber_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

#throbber_helper {
    position: absolute;
    top: 50%;
    left: 50%;
}

#throbber {
    box-sizing: border-box;
    width: 2em;
    height: 2em;
    top: -1em;
    left: -1em;
    line-height: 2em;
    font-size: 5em;
    text-align: center;
    position: relative;
}
